ALPHA_BASE_URL=https://alphac.cc
ALPHA_REQUEST_TIMEOUT=15
ALPHA_SOON_MINUTES=120
ALPHA_TIMEZONE=Asia/Shanghai
ALPHA_NOTIFY_ON_FIRST_RUN=0

ALPHA_SMTP_HOST=smtp.qq.com
ALPHA_SMTP_PORT=465
ALPHA_SMTP_SSL=1
ALPHA_SMTP_STARTTLS=0
ALPHA_SMTP_USER=your_qq_mail@qq.com
ALPHA_SMTP_PASSWORD=replace_with_your_mail_auth_code
ALPHA_EMAIL_FROM=your_qq_mail@qq.com
ALPHA_EMAIL_TO=your_target_mail@qq.com
